body {
	margin: 20px;
	background-image: url("./assets/pageBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	font-family: "Minecraft", "Helvetica Neue";
}

code {
	background: #d0d0d5;
}

canvas {
	margin: auto;
	border: 1px solid black;
}

.container {
	display: flex;
	flex-direction: column;
}

@media (min-width: 800px) {
	.container {
		flex-direction: row;
	}
}
